body {
    background-image: url("http://i.imgur.com/QSUiXRp.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    margin:0;
}

html, body {
    height: 100%;
    width: 100%;
}



.desktopIco {
    min-width: 50px;
    min-height: 50px;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
    
}

#desktop > div.toolBar{
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.toolBar {
    max-height: 20%;
    margin: 0;
    padding: 0;
    background-color: #bec1c4;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-color: #dccbc1;
    border-style: solid;
    border-width: 0.5px;
}
.toolBar ul {
    position:relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #bec1c4;
    width: 100%;  
    height: 100%; 
}

.toolBar li {
    float: left;
     height: 100%;
}

.toolBar li a {
    display: block;
    font: bolder;
    color: black;
    font-family: Helvetica, sans-serif;

    height: 100%;
    padding: 6px 9px;
    text-decoration: none;
    font-size: 17px;   
    font-stretch: ultra-expanded;
    cursor: pointer;
}

.toolBar li a img {
    margin-bottom: 4px;
    vertical-align: middle;
    display: inline-block;
    margin: auto;
    height: 31%;
    width: 31%;
}

li a:hover:not(.active) {
    /*background-color: #111;*/
}

.toolBar .active {
    border-style: inset;
    border-color: darkgray;
    width: 70%;
     height: 100%;
}

.toolBar .time {
    float: right !important;
    right: 100%;
    border-style: inset;
    border-color: darkgray;
    cursor: default;
}

.toolBar .open-window {
    border-style: outset;
    border-color: darkgray;
    width: 100%;
     height: 100%;
}

.desktopIcon img {
    cursor: pointer;
}

.desktopIcon p {
    text-align: justify;
    padding-top: 0;
    margin-top: 0;
    left: 5px;
    font: bold;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

/*                Start Menu                     */



.start-menu {
    position: relative;
    display: inline-block;
}

.start-menu-content {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #c0c0c0;
    padding-left: 0px;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.start-menu-content a {
    color: black;
    text-align: left;
    text-decoration: none;
    display: block;
    right: 100%;
}

.start-menu-content a:hover {background-color: #000080; color: white; }

.start-menu:hover .start-menu-content {
    position: absolute;
    margin-top: 1px;
    font: 10px;
    bottom: 100%; /* added this attribute */
    display: block;
    border-style: outset;
    border-color: darkgray;
    
}

.breakLine{
    border-top-style: solid;
    border-top-color: gray;
    border-style: inset;
    margin-left: 0.5px;
    margin-right: 0.5px;
    margin-top: 0.5px;
    margin-top: 0.5px;
    border-width: 1.5px;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.25em;
	left: 0.15em;
    width: 0.25em;
    top: 0.15em;
	position: relative;


}

.chevron.right:before {
    float: right !important;

	margin-top: 2%;
	transform: rotate(45deg);
}

.pop-up{
    height: 200px;
    width: 200px;
    border-style: outset;
    border-color: darkgray;
}